/* ------------------------------------------- Countries dropdown */
#profile-update-form .form-control {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4; 
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

/* ----------------------------------------- tabs */ 
.tab-button {
    background-color: #005792;
    color: #ffffff;
    border: 1px solid #005792;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/* Hover effect */
.tab-button:hover {
    background-color: #55D8C1;
    color: #000;
}

/* Active button styling */
.tab-button.active {
    background-color: #55D8C1;
    color: #000;
    border: 1px solid #005792;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}

/* ----------------------------------------------------- Active button styling */

@media (max-width: 576px) {
    .col-12.col-md-8.col-lg-6 {
        border: none !important;
        box-shadow: none !important;
        padding: 20px !important;
    }

    .tab-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .tab-button {
        width: auto;
        margin: 5px;
    }
}
