{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container pt-4 mb-5 vh-100">

        <div class="row">
            <div class="col-12 text-center pb-3">
                <h1> Your Travel Backpack </h1>
            </div> 
        </div>

        <div class="row pt-3 pb-4">
            <div class="col text-center">
                <a href="{% url 'all-tours' %}" class="text-btn-2 mx-2 hrv-grow">
                    <span>
                        <i class="fa-solid fa-hand-point-left"></i>
                    </span>
                    <span class="text-uppercase hrv-shrink">Explore more tours</span>
                </a>

                <a href="#" class="text-btn mx-2">
                    <span>Secure Checkout</span>
                    <span>
                        <i class="fa-solid fa-shield"></i>
                    </span>
                </a>
            </div>
        </div>
        
        {% if travel_backpack  %}
            {% for item in travel_backpack %}
            <!-- Tour Content-->
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img-fluid p-3" src="{{ item.tour.image.url }}" alt="tour image">
                    </div>

                    <div class="col-md-5 d-flex align-items-center">
                        <table class="table-sm table table-borderless">
                            <tr>
                                <th class="pt-4">{{ item.tour.name }}</th>
                            </tr>
                            <tr>
                                <td><strong>Date:</strong> {{ item.tour.date_available }}</td>
                            </tr>
                            <tr>
                                <td><strong>Price:</strong> £{{ item.tour.price }}</td>
                            </tr>
                            <tr>
                                <td><strong>Quantity:</strong> {{ item.quantity }}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- Increase/ decrease function about of ppl -->
                    <div class="col-md-3 d-flex align-items-center">
                        <form class="form update-form" method="POST" action="#">

                            <div class="form-group">
                                <div class="input-group">
                                    <button class="icon d-flex m-2" data-item_id="{{ item.tour.id }}"
                                        id="minus-qty_{{ item.tour.id }}">
                                        <i class="icon fa-solid fa-user-minus ml-auto decrease-qty pt-2"></i>
                                    </button>

                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="30" data-item_id="{{ item.tour.id }}"
                                        id="id_qty_{{ item.tour.id }}">

                                    <button class="icon d-flex  m-2" data-item_id="{{ item.tour.id }}"
                                        id="add-qty_{{ item.tour.id }}">
                                        <i class="icon fa-solid fa-user-plus ms-auto increase-qty pt-2"></i>
                                    </button>
                                </div>
                            </div>
                            
                        </form>
                        <a class="update-link text-info"><small>Update</small></a>
                        <a class="delete-item text-danger float-right" id="remove_{{ item.item_id }}"
                            data-product_size="{{ item.size }}"><i class="fa-solid fa-trash"></i></a>
                    </div>
                    <div class="row">
                        <div class="col mx-auto">
                            <hr>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <!-- Backpack is empty -->
            <div class="row">
                <div class="col-11 mx-3">
                    <hr>
                </div>
                <div class="col-12">
                    <p class="px-3">Your Backpack is empty...</p>
                    <a href="{% url 'all-tours' %}" class="text-btn mx-3">
                        <span class="px-3 hvr-icon-back">
                            <i class="fa-solid fa-hand-point-left hvr-icon"></i>
                            <strong class="text-uppercase">Explore tours</strong>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'tours/includes/breakdown_scripts.html' %} 
{% endblock %}