{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center text-center p-0">
        <div class="row">
            <!-- Hero Slideshow of 3 img -->
            <div id="carouselExampleAutoplaying" class="col carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/media/hero1.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/media/hero2.webp" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/media/hero3.webp" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
        </div>
    </div>
{% endblock %}