core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
ptp_venv
# Ignore developemnt db
*.sqlite3
*.pyc
# Ingnore python code for version control
__pycache__