{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block header %}
    <div class="container header-container">
        <div class="class row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="min-vh-100">
    <!-- Header block -->
    <div class="row">
        <div class="col-12 text-center pt-4 pb-3">
            <h1> Pay For Your Backpack </h1>
        </div> 
    </div>

    <!-- Progress Bar-->
    <div class="container mt-4 mb-5">
        <div class="progress">
            <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">Step 1 of 3</div>
        </div>
    </div>    
    
    <!-- Steps Checkout Form -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <form id="checkout-form" action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}

                    <!-- Step 1: Personal Details -->
                    <div id="step-1" class="checkout-step">
                        <fieldset class="mb-3 custom-input">
                            <legend class="w-auto px-2 form-header2 pb-4">Personal Details</legend>
                            {{ order_form.full_name | as_crispy_field }}
                            {{ order_form.email | as_crispy_field }}
                            {{ order_form.phone_number | as_crispy_field }}
                        </fieldset>
                        <div class="button-container d-flex justify-content-center">
                            <button type="button" class="btn text-btn-2 float-right hvr-grow mb-3" onclick="nextStep(2)">Next</button>
                        </div>
                    </div>

                    <!-- Step 2: Delivery Details -->
                    <div id="step-2" class="checkout-step mb-3" style="display:none;">
                        <fieldset class="mb-3">
                            <legend class="w-auto form-header2">Delivery Details</legend>
                            {{ order_form.street_address1 | as_crispy_field }}
                            {{ order_form.street_address2 | as_crispy_field }}
                            {{ order_form.town_or_city | as_crispy_field }}
                            {{ order_form.county | as_crispy_field }}
                            {{ order_form.postcode | as_crispy_field }}
                            {{ order_form.country | as_crispy_field }}
                            <div class="form-check d-flex justify-content-center align-items-center text-center">
                                {% if user.is_authenticated %}
                                    <input class="form-check-input ml-2 mr-2" type="checkbox" id="id-save-info" name="save-info" checked>
                                    <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                {% else %}
                                    <label class="form-check-label" for="id-save-info">
                                        <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                        <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                    </label>
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="button-container d-flex justify-content-center">
                            <button type="button" class="btn text-btn hvr-shrink m-3" onclick="prevStep(1)">Back</button>
                            <button type="button" class="btn text-btn-2 float-right hvr-grow m-3" onclick="nextStep(3)">Next</button>
                        </div> 
                    </div>

                    <!-- Step 3: Payment Details -->
                    <div id="step-3" class="checkout-step" style="display:none;">
                        <fieldset>
                            <legend class="w-auto form-header2">Payment</legend>
                            <!-- Card Number -->
                            <div class="form-control mb-3" id="card-number-element"></div>
                            <!-- Expiration Date and CVC -->
                            <div class="d-flex mb-3">
                                <div class="form-control me-3" id="card-expiry-element" style="flex: 1;"></div>
                                <div class="form-control" id="card-cvc-element" style="flex: 1;"></div>
                            </div>
                            <!-- Error Messages -->
                            <div class="text-danger" id="card-errors" role="alert"></div>
                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>
                        <div class="button-container d-flex justify-content-center">
                            <button type="button" class="btn text-btn hvr-shrink m-3" onclick="prevStep(2)">Back</button>
                            <button type="submit" class="btn text-btn-2 float-right m-3 hvr-icon-grow" id="submit-button">Complete Payment
                                <span>
                                    <i class="fa-solid fa-credit-card hvr-icon"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Order Summary Column  -->
            <div class="col-12 col-md-4 pt-3">
                <div class="order-summary">
                    <div class="order-border mb-3">
                        <p id="order-header">Order Summary <strong class="font-weight-bold">({{ tour_count }})</strong></p>
                        <div class="row">
                            <div class="col-7 offset-2">
                                <p class="mb-1 mt-0 small text-muted">Item</p>
                            </div>
                            <div class="col-3 text-right">
                                <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                            </div>
                        </div>
                        {% for item in bag_items %}
                            <div class="row">
                                <div class="col-2 mb-1">
                                    <a href="{% url 'tour_detail' item.tour.id %}">
                                        {% if item.tour.image %}
                                            <img class="w-100" src="{{ item.tour.image.url }}" alt="{{ tour.name }}">
                                        {% else %}
                                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ tour.name }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-7">
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0 small">Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                                </div>
                                <div class="col-3 text-right">
                                    <p class="my-0 small text-muted">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <hr class="my-0">
                        <div class="row text-black text-right">
                            <div class="col-7 offset-2">
                                <p class="my-0">Order Total:</p>
                                <p class="my-0">Grand Total:</p>
                            </div>
                            <div class="col-3">
                                <p class="my-0">£{{ total | floatformat:2 }}</p>
                                <p class="my-0"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading Overlay -->
    <div id="loading-container">
        <div class="loader">
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
    <script src="{% static 'checkout/js/next_step.js' %}"></script>
{% endblock %}
