/* --------------------------------------------------- Remove browse default arrows 

/* Hide the arrows in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ----------------------------------------------------------- Add tour CSS */

label {
    font-size: 1.5rem;
    font-family: 'Fredoka One', cursive;
    color: #005792;
    padding-bottom: 5px;
}

/* ----------------------------------------------------------------------------------- tour_breakdown.html */

.carousel-item img {
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.tour-info-box, .tour-description-box {
    background-color: #f8f9fa;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tour-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.icon-share {
    font-size: 1.2rem;
}

/*------------------------------------------- Breadcrumb */ 

.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, ">");
    font-weight: bold;
    font-size: 1.2rem;
}

.breadcrumb a {
    text-decoration: none;
    color: black;
}

.breadcrumb-item {
    font-family: 'Fredoka One', cursive;
    font-size: 1.2rem;
    color: black;
}

.breadcrumb a:hover {
    text-decoration: none;
    color: black;
}

/* ---------------------------------------------- sticky tour info */

.sticky-tour-info {
    position: sticky;
    top: 20px;
    z-index: 100;
}
/* ---------------------------------------------- Thumbnail imgs */

.thumbnail-img {
    width: 100%; 
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.icon-color {
    color: #55D8C1;
}

.sub-heading {
    font-size: 1.5rem;
}

/* ------------------------------------------------------------------------------------ tour_products.html */
/* ----------------------------------------------------------- Filter Category */

.category-btn {
    background-color: white;
    color: #55D8C1;
    border: 2px solid #55D8C1;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    transition: all 0.3s ease;
}

.category-btn i {
    margin-right: 8px;
}

.category-btn:hover {
    background-color: #55D8C1;
    color: #005792;
    border-color: #005792;
}

.category-btn:hover i {
    color: #005792;
}

.icon-static {
    color: #005792;
    margin-right: 8px;
}

.filter-icon:hover i {
    color: #0056b3;
}

.filter-icon p {
    margin-top: 5px;
    font-size: 14px;
    color:  #0056b3;
}

.selected-category {
    background-color: #FFE6EB;
    transform: scale(0.95);
    border: 1px solid #f7b2bd;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

/* ------------------------------------- Card height  */

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
