/* --------------------------------------------------- Remove browse default arrows 

/* Hide the arrows in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ----------------------------------------------------------- Add tour CSS */

label {
    font-size: 1.5rem;
    font-family: 'Fredoka One', cursive;
    color: #005792;
    padding-bottom: 5px;
}

/* ----------------------------------------------------------- Tour product card */

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card {
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

/* ----------------------------------------------------------- Filter Category */

.category-btn {
    background-color: white;
    color: #55D8C1;
    border: 2px solid #55D8C1;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    transition: all 0.3s ease;
}

.category-btn i {
    margin-right: 8px;
}

.category-btn:hover {
    background-color: #55D8C1;
    color: #005792;
    border-color: #005792;
}

.category-btn:hover i {
    color: #005792;
}

.icon-static {
    color: #005792;
    margin-right: 8px;
}

.filter-icon:hover i {
    color: #0056b3;
}

.filter-icon p {
    margin-top: 5px;
    font-size: 14px;
    color:  #0056b3;
}
