/* -------------------------------------------------------------- Font imports */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

header,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    color: #005792;
}

h3 {
    font-size: 20px;
}

body {
    font-family: 'Architects Daughter', cursive;
    background-color: none;
}

.bg-pink {
    background-color: #FFE6EB;
}


/*---------------------------------------------------------------  Site wide btns/ icons */

.icon-header {
    color: #55D8C1;
    background-color: #005792;
    border: solid 3px #55D8C1;
    text-decoration: none;
    border-radius: 50%; 
    padding: 5px; 
    width: 40px; 
    height: 40px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.icon {
    color: #55D8C1;
    border: solid 3px #005792;
    text-decoration: none;
    border-radius: 50%; 
    padding: 5px; 
    width: 40px; 
    height: 40px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}


.text-btn { 
    font-family: 'Fredoka One', cursive;
    color: #005792;
    text-decoration: none;
    border: solid 3px #55D8C1;
    padding: 10px;
    border-radius: 5px;
}

.text-btn-2 {
    font-family: 'Fredoka One', cursive;
    color: #005792;
    text-decoration: none;
    background-color: #55D8C1;
    border: solid 3px #55D8C1;
    padding: 10px;
    border-radius: 5px;
}

#ex-btn {
    font-family: 'Fredoka One', cursive;
    color: #005792;
    text-decoration: none;
    border: solid 3px #55D8C1;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

/*---------------------------------------------------------------  Header */

.header-design {
    background-color: #FFE6EB;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    /* Set width to 100% to make it full width */
}

.hide {
    display: none;
}

/* CSS for removing caret and showing dropdown onclick */
/* .navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
} */

.navbar .nav-item.dropdown .nav-link::after {
    content: none;
}

.megamenu {
    position: static;
}

.megamenu .dropdown-menu {
    background: #FFE6EB;
    border: none;
    width: 100%;
    margin-top: 0;
}

.logo {
    width: 63px;
    padding: 0 !important;
    margin: 0 30px;
}

.nav-link {
    color: #4D4D4D;
}

.nav-link:hover {
    color: #005792;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#tour-name {
    text-decoration: none;
    color: #4D4D4D;
}

/*---------------------------------------------------------------  Search bar */

#search-bar {
    background-color: #FFE6EB;
    font-family: 'Architects Daughter', cursive;
}

::placeholder {
    text-align: center;
}

.form-control {
    border-radius: 20px;
}

/* removes default click apperence for form */
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #005792;
}

/* Navbar hamburger icon style */

.navbar-toggler {
    color: #005792;
    border: solid 0.10rem;
    padding: 10px 6px
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #005792;
}

.navbar-toggler span+span {
    margin-top: 4px;
    width: 15px;
    margin-left: 4px;
}

.navbar-toggler span+span+span {
    width: 10px;
    margin-left: 6px;
}

.navbar {
    --bs-navbar-toggler-focus-width: 0.10rem;
}

/* clears the ‘X’ from search bars Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the ‘X’ from from search bars Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/*---------------------------------------------------------------  Cards */
.card {
    border: 3px solid #FFE6EB;
    border-radius: 5px;
}

.card-title {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    color: #005792;
}

/*---------------------------------------------------------------  Toasts */


.message-container {
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

/*---------------------------------------------------------------  Footer */

#back-to-top {
    color: #005792;
}

#back-to-top:hover {
    color: #55D8C1;
}

.icon-with-border {
    border: 3px solid #55D8C1;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
}

.icon-with-border:hover {
    border: 3px solid #55D8C1;
    background-color: #005792;
    padding: 5px;
    display: inline-block;
    border-radius: 3px;
}

#copywrite {
    text-decoration: none;
    color: #005792;
}

#copywrite:hover {
    text-decoration: none;
    color: #40b19c;
}

.f-address {
    font-size: 15px;
    letter-spacing: 1px;
}

.icon-footer {
    color: #55D8C1;
    background-color: #005792;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.icon-footer:hover {
    color: #005792;
    background-color: #55D8C1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------------------------  Tour_breakdown */

#fix-tour {
    z-index: 9999;
    height: 50px;
    background-color: rgb(85, 216, 193, 0.5);
  }

.fix-content {
    margin: 0;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    color: #005792;
}
/*---------------------------------------------------------------  Media Queries */

@media (max-width: 368px) {

    #navicon,
    .navbar-toggler {
        width: 100%;
        margin-top: 10px;
        /* padding: 5px; */
    }

    button span {
        text-align: center;
    }

}

@media (max-width: 768px) {
    #address {
        text-align: center;
        padding-top: 20px;
    }

    #back-to-top {
        padding-bottom: 20px;
    }
}
