/* -------------------------------------------------------------- Font imports */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

header, h1, h2, h3, h4, h5 {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    color: #005792;
}

h3 {
    font-size: 20px;
}

body {
    font-family: 'Architects Daughter', cursive;
    background-color:#FFE6EB;
}



/*---------------------------------------------------------------  Header */

.header-design {
    background-color: #FFE6EB;
}

.hide {
    display: none;
}

/* CSS for removing caret and showing dropdown onclick */
/* .navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
} */

.navbar .nav-item.dropdown .nav-link::after {
    content: none;
}

.megamenu {
    position: static;
}

.megamenu .dropdown-menu {
    background: #FFE6EB;
    border: none;
    width: 100%;
    margin-top: 0;
}

.logo {
    width: 63px;
    padding: 0 !important;
    margin: 0 30px;
}

.nav-link {
    color: #4D4D4D;
}

.nav-link:hover {
    color: #005792;
}

/*---------------------------------------------------------------  Search bar */

#search-bar {
    background-color: #FFE6EB;
}

::placeholder {
    text-align: center;
}

.form-control {
    border-radius: 20px;
}

/* removes default click apperence for form */
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #005792;
}

.icon {
    color: #005792;
}

/* clears the ‘X’ from search bars Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

/* clears the ‘X’ from from search bars Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }