/* -------------------------------------------------------------- Font imports */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

header, h1, h2, h3, h4, h5 {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    color: #005792;
}

h3 {
    font-size: 20px;
}

body {
    font-family: 'Architects Daughter', cursive;
    background-color:#FFE6EB;
}

/*---------------------------------------------------------------  Header */

.header-design {
    background-color: #FFE6EB;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%; /* Set width to 100% to make it full width */
}

.hide {
    display: none;
}

/* CSS for removing caret and showing dropdown onclick */
/* .navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
} */

.navbar .nav-item.dropdown .nav-link::after {
    content: none;
}

.megamenu {
    position: static;
}

.megamenu .dropdown-menu {
    background: #FFE6EB;
    border: none;
    width: 100%;
    margin-top: 0;
}

.logo {
    width: 63px;
    padding: 0 !important;
    margin: 0 30px;
}

.nav-link {
    color: #4D4D4D;
}

.nav-link:hover {
    color: #005792;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*---------------------------------------------------------------  Search bar */

#search-bar {
    background-color: #FFE6EB;
    font-family: 'Architects Daughter', cursive;
}

::placeholder {
    text-align: center;
}

.form-control {
    border-radius: 20px;
}

/* removes default click apperence for form */
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #005792;
}

.icon {
    color: #005792;
}

/* Navbar hamburger icon style */ 

.navbar-toggler {
    color: #005792;
    border: solid 0.10rem;
    padding: 10px 6px 
}

.navbar-toggler span {
    display: block; 
    width: 22px;
    height: 2px;
    border: 1px;
    background: #005792;
}

.navbar-toggler span + span {
    margin-top: 4px;
    width: 15px; 
    margin-left: 4px; 
}

.navbar-toggler span + span + span {
   width: 10px;
   margin-left: 6px;
}

.navbar {
--bs-navbar-toggler-focus-width: 0.10rem;
}

/* clears the ‘X’ from search bars Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }

/* clears the ‘X’ from from search bars Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*---------------------------------------------------------------  Media Queries */

@media (max-width: 368px) {
    #navicon, .navbar-toggler {
      width: 100%;
      margin-top: 10px;
      /* padding: 5px; */
    }

    button span {
        text-align: center;
    }
    
  }