<div class="d-none d-md-block">
    <ul class="navbar-nav col-12">
        <li class="nav-item active pt-3">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <!-- Tour Dropdown -->
        <li class="nav-item dropdown megamenu pt-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                Our Trips
            </a>
            <div class="dropdown-menu" aria-labelledby="toursDropdown">
                {% for tour in tours %}
                    <ul class="no-bullets">
                    <li class="px-3">
                        <a href="{% url 'tour-breakdown' tour_id=tour.pk %}" id="tour-name">{{ tour.name }}</a>
                    </li>
                    </ul>
                {% endfor %}
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="{% url 'all-tours' %}">All Trips</a>
            </div>
        </li>

        <!--Logo Image  -->
        <a class="navbar-brand d-flex justify-content-center d-none d-md-block" href="{% url 'home' %}">
            <img src="/media/logo.png" class="logo" alt="logo">
        </a>

        <li class="nav-item pt-3">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item pt-3">
            <a class="nav-link" href="#">Contact</a>
        </li>
        <!-- Profile Dropdown -->
        <li class="nav-item dropdown megamenu pt-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
            </a>
            <ul class="dropdown-menu">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Admin Tour Management</a>
                    {% endif %}
                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'account_signup' %}">Signup</a></li>
                        <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    <li><a class="dropdown-item" href="#">Ask us anything</a></li>
                {% endif %}
            </ul>
        </li>
        <!-- Basket -->
        <li class="list-inline-item d-flex justify-content-end d-none d-md-block">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link p-1"
                href="">
                <div class="text-center align-items-center">
                    <a class="icon" href="{% url 'view-bag' %}"><i class="fa-solid fa-basket-shopping p-0"></i></a>
                    <p class="my-0">
                        {% if total %}
                            £{{ total|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>
