{% extends "account/allauth_base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block allauth_content %}
<div class="container-fluid">
    <div class="row">
        <!-- Form Login Div -->
        <div class="col-md-6 col-sm-12">
            <div class="card-form p-4">
                <h1 class="pt-4 text-center">
                    {% trans "Login" %}
                </h1>

                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                <p class="text-center">
                    {% blocktrans with site.name as site_name %}
                        Please sign in with one of your existing third-party accounts. Or,
                        <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:
                    {% endblocktrans %}
                </p>
                {% endif %}

                <form method="post" action="{% url 'account_login' %}" class="pt-3">
                    {% csrf_token %}

                    <!-- Input for Email -->
                    <div class="form-group mb-3">
                        <input type="email" id="id_login" name="login" class="form-control"
                            placeholder="{% trans 'Enter your email address' %}">
                    </div>

                    <!-- Input for Password -->
                    <div class="form-group mb-3">
                        <input type="password" id="id_password" name="password" class="form-control"
                            placeholder="{% trans 'Enter your password' %}">
                    </div>

                    <!-- Checkbox for "Remember Me" -->
                    <div class="form-check mb-3 text-start">
                        <input type="checkbox" id="id_remember" name="remember" class="form-check-input">
                        <label class="form-check-label" for="id_remember">{% trans "Remember Me" %}</label>
                    </div>

                    <!-- Centered Submit Button -->
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn text-btn-2 hvr-grow mb-3">{% trans "Sign In" %}</button>
                    </div>

                    <p class="pt-3 text-center">
                        <a href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a>
                    </p>
                </form>
            </div>
        </div>

        <!-- Slideshow Right -->
        <div class="col-md-6 d-none d-md-block p-0 h-100">
            <div id="loginCarousel" class="carousel slide h-100" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100">
                        <img src="/media/hero1.webp" class="image-height d-block w-100 h-100" alt="slide 1">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/media/hero2.webp" class="d-block w-100 h-100" alt="slide 2">
                    </div>
                    <div class="carousel-item h-100">
                        <img src="/media/hero3.webp" class="d-block w-100 h-100" alt="slide 3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
