<script type="text/javascript">
    // Disable +/- buttons outside 1-30 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt(document.getElementById(`id_qty_${itemId}`).value);
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 30;
        document.getElementById(`minus-qty_${itemId}`).disabled = minusDisabled;
        document.getElementById(`add-qty_${itemId}`).disabled = plusDisabled;
    }

    // Add quantity
    document.addEventListener('click', function (event) {
        if (event.target.classList.contains('add-qty')) {
            event.preventDefault();
            var closestInput = event.target.closest('.input-group').querySelector('.qty_input');
            var currentValue = parseInt(closestInput.value);
            closestInput.value = currentValue + 1;
            var itemId = event.target.dataset.item_id;
            handleEnableDisable(itemId);
        }
    });

    // Decrease quantity
    document.addEventListener('click', function (event) {
        console.log('clicked minus')
        if (event.target.classList.contains('minus-qty')) {
            event.preventDefault();
            var closestInput = event.target.closest('.input-group').querySelector('.qty_input');
            var currentValue = parseInt(closestInput.value);
            closestInput.value = currentValue - 1;
            var itemId = event.target.dataset.item_id;
            console.log('itemId')
            handleEnableDisable(itemId);
        }
    });

    // // Ensure proper enabling/disabling of all inputs on page load
    // var allQtyInputs = document.getElementsByClassName('qty_input');
    // for (var i = 0; i < allQtyInputs.length; i++) {
    //     var itemId = allQtyInputs[i].dataset.item_id;
    //     handleEnableDisable(itemId);
    // }

    // // Check enable/disable every time the input is changed
    // document.addEventListener('change', function (event) {
    //     if (event.target.classList.contains('minus-qty')) {
    //         var itemId = event.target.dataset.item_id;
    //         handleEnableDisable(itemId);
    //     }
    // });

    /* Makes key info sticky to top of page */
    window.addEventListener('scroll', function () {
        const scrollPosition = window.pageYOffset || document.documentElement.scrollTop || document.body
            .scrollTop || 0;
        const viewportHeight = window.innerHeight || document.documentElement.clientHeight || document.body
            .clientHeight || 0;
        const fixedTour = document.getElementById('fix-tour');

        // Check if the scroll position is greater than the viewport height
        if (scrollPosition > viewportHeight) {
            fixedTour.classList.add('position-fixed', 'top-0', 'start-0');
        } else {
            fixedTour.classList.remove('position-fixed', 'top-0', 'start-0');
        }
    });
</script>