{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container min-vh-100 error-container">
    <div class="error-box">
        <div class="error-code">404</div>
        <p class="error-message">Oops! The page you're looking for can't be unpacked!</p>
        <a href="/" class="text-btn-2 hvr-shrink">Get Home</a>
    </div>
</div>
{% endblock %}