{% load static %}

<!doctype html>
<html lang="en">

  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!-- Custom css-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Button animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"
        type="text/css">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/487ad78726.js" crossorigin="anonymous"></script>
    <!-- Custom js -->
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
    {% block extra_js %}
    {% endblock %}

    <title>Point > Point {% block extra_title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-md d-flex justify-content-center px-lg-5 header-design">
        <!-- search btn -->
        <a id="search-btn" class="icon mx-2" onclick="searchBlock()">
          <i class="fa-solid fa-magnifying-glass px-3 mx-3"></i>
        </a>
        <a id="close" class="hide icon mx-2" onclick="reHide()">
          <i class="fa-solid fa-x px-3"></i>
        </a>
        {% include 'includes/mobile-top-header.html' %}
        <!-- Burger btn -->
        <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navBurger"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
        </button>
        {% include 'includes/main-nav.html' %}
      </nav>

      <!--- Burger Dropdown -->
      <div class="collapse navbar-collapse justify-content-center w-100 px-3" id="navBurger">
        <ul class="navbar-nav">
          <li class="nav-item active pt-3">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <!-- Tour Dropdown -->
          <li class="nav-item dropdown megamenu pt-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" data-bs-toggle="dropdown"
              aria-expanded="false">
              Our Trips
            </a>
            <div class="dropdown-menu" aria-labelledby="toursDropdown">
              {% for tour in tours %}
                <ul class="no-bullets">
                  <li class="px-3">
                      <a href="{% url 'tour-breakdown' tour_id=tour.pk %}" id="tour-name">{{ tour.name }}</a>
                  </li>
                </ul>
              {% endfor %}
              <hr class="dropdown-divider"></a>
              <a class="dropdown-item"  href="{% url 'all-tours' %}">">ALL TOURS</a>
            </div>
          </li>

          <li class="nav-item pt-3">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item pt-3">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <!-- Profile Dropdown -->
          <li class="nav-item dropdown megamenu pt-3">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="" class="dropdown-item">Admin Tour Management</a>
              {% endif %}
              <li><a class="dropdown-item" href="#">My Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'account_signup' %}">Signup</a></li>
              <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Ask us anything</a></li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>

      <!-- Search Dropdown -->
      <div id="search-bar" class="container-fluid hide pt-2 pb-2">
        <div class="row d-flex justify-content-center">
          <div class="d-md-none col-md-3"></div>
          <div class="col-sm-12 col-md-6">
            <form role="search" method="GET" action="{% url 'all-tours' %}">
              <input class="form-control" type="search" placeholder="Search" name="s-q" minlength="3" aria-label="Search">
            </form>
          </div>
        </div>
        <div class="d-md-none col-md-3"></div>
      </div>
    </header>

	{% if messages %}
      <div class="message-block d-flex justify-content-center">
        {% for message in messages %}
          {% with message.level as level %}
            <!-- Error -->
            {% if level == 40 %}
              {% include 'includes/toasts/toast_error.html' %}
            <!-- Warning -->
            {% elif level == 30 %}
              {% include 'includes/toasts/toast_warning.html' %}
            <!-- Success -->
            {% elif level == 25 %}
              {% include 'includes/toasts/toast_success.html' %}
            <!-- info -->
            {% else %}
              {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script>
      console.log("postloadjs");
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
          $('.toast').toast('show');
        })
    </script>
    
    {% endblock %}

    <footer class="bg-pink pt-3">
      <div class="container">
        <div class="row">

          <div class="col-md-4 d-flex align-items-center justify-content-center">
            <a href="" id="back-to-top" onclick="backToTop()">
              <i class="fa-solid fa-arrow-up fa-lg p-3 icon-with-border"></i>
            </a>
          </div>

          <div class="col-md-4 d-flex align-items-center justify-content-center">
            <a href="https://www.instagram.com/accounts/login/" target="_blank" class="icon-footer">
              <i class="fa-brands fa-instagram fa-lg"></i>
            </a>
            <a href="https://www.facebook.com/login/" target="_blank" class="icon-footer">
              <i class="fa-brands fa-facebook fa-lg"></i>
            </a>
          </div>

          <div id="address" class="col-md-4 pt-3">
            <h3>Address</h3>
            <p class="flex-grow-1">Point > Point, 151 Fentiman Road, Wimbledon, London, SW8 1JZ,</p>
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-12 text-center text-align-center pb-3">
            <a href="https://github.com/JJBR13?tab=repositories" id="copywrite" target="_blank">Copyright &copy; 2023 Justin Brown</a>        </div>
        </div>
      </div>
    </footer>

  </body>
</html>