/*------------------------------------------------ Checkout.html */

.form-header1 {
    font-size: clamp(1rem, 1.5vw, 2rem);
    color:#005792;
}

.form-header2 {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 2px;
    color: #005792;
    text-align: start;
}

#order-header {
    color: #005792;
    font-size: 1.5rem;
}

.order-border {
    border-left: 1px solid #000;
    padding-left: 3rem;
}

.form-control {
    border: 1px solid #005792;
    background-color: #FFE6EB;
    margin-bottom: 10px;
}

/*------------------------------------------- Checkout Steps */

#progress-bar {
    background-color:#005792; 
        color:#FFFFFF; 
}

.custom-input input:focus, 
.custom-input textarea:focus, 
.custom-input select:focus {
    color: #005792; 
    border-color: #FFE6EB;
    outline: none;
}

.text-btn:hover { 
    font-family: 'Fredoka One', cursive;
    color: #005792;
    text-decoration: none;
    border: solid 3px #55D8C1;
    padding: 10px;
    border-radius: 5px;
}

.text-btn-2:hover {
    font-family: 'Fredoka One', cursive;
    color: #005792;
    text-decoration: none;
    background-color: #55D8C1;
    border: solid 3px #55D8C1;
    padding: 10px;
    border-radius: 5px;
}

/*------------------------------------------- payment step */

#card-errors {
    display: flex;
    align-items: center;
    color: #dc3545;
    font-weight: bold;
    font-size: 15px;
}

#card-errors .icon {
    margin-right: 8px;
    border: none;
    outline: none;
}

#card-errors .icon i {
    color: #dc3545;
    font-size: 15px;
}

.error-message {
    color: #dc3545;
    font-size: 15px;
}

/* ------------------------------------------------------------------- Checkout_success.html */
.shadow-glow {
    box-shadow: 0px 6px 15px rgba(0, 87, 146, 0.7);
}

.pink-text {
    color: #f4889e;
    font-size: 16px;
}

/* ------------------------------------------------------------------- Responsive css */

@media (max-width: 767.98px) { 
    .order-border {
        border-left: none;
        padding-left: 0; 
    }
}
