{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tour_products/css/tour_products.css' %}">
{% endblock %}

{% block header %}
    <div class="container header-container">
        <div class="class row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="min-vh-100">
        <!-- Header block -->
        <div class="row">
            <div class="col-12 text-center pt-4 pb-3">
                <h1> Tour Management </h1>
                <h5 class="p-2"><strong class="fst-italic">Edit Tour</strong></h5>
            </div> 
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_tour' tour.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form | crispy }}
                    </div>
                    <div class="text-center pb-3 mt-3">
                        <a class="btn btn-secondary rounded-0" href="{% url 'all-tours' %}">Cancel</a>
                        <button class="btn btn-primary rounded-0" type="submit">Edit Tour</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}
