{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="d-md-none p-1"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mt-3 mb-3">
                <h1>Where to next?</h1>
            </div>
        </div>
    </div>
    
    <!-- Tour card -->
    <div class="d-md-none p-1"></div>

    <div class="container-fluid px-5">
        <div class="row">
        {% for tour in tourproducts %}
            <div class="col-sm-12 col-md-4">
                <div class="card w-100" style="width: 18rem;">
                    {% if tour.image %}
                            <img src="{{ tour.image.url }}" class="card-img-top" alt="{{ tour.name }}">
                    {% else %}
                            <!-- add no img, img -->
                            <img src="{{ MEDIA_URL}}" alt="{{ tour.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ tour.name }}</h5>
                        <p class="card-text">{{ tour.description }}</p>
                        <a href="{% url 'tour-breakdown' tour.id %}" class="btn btn-primary">VIEW TOUR</a>
                    </div>
                </div>
            </div>

            <div class="d-md-none p-3"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}