{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tour_products/css/tour_products.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid p-0 m-0">
        <div class="row">
            <div class="col-12">
                {% if tour.image %}
                    <img src="{{ tour.image.url }}" class="card-img-top vh-100" alt="{{ tour.name }}">
                {% else %}
                    <img src="{{ MEDIA_URL }}" alt="{{ tour.name }}">
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Fixed tour block -->
    <div id="fix-tour" class="row container-fluid m-0">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <p class="fix-content">{{ tour.name }}</p>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
            <p class="fix-content">tour number of days here</p>
        </div>
        <div class="col-4 d-flex justify-content-center align-items-center">
            <p class="fix-content"><strong>£ {{ tour.price }}</strong></p>
        </div>
    </div>

    <!-- Tour Description -->
    <div class="row p-4 m-0">
        <div class="col-6">
            <h2>{{ tour.name }}</h2>
            {{ tour.description }}
        </div>

        <div class="col-6 d-flex justify-content-center align-items-center p-sm-2">
            <h3> image this side </h3>
        </div>
    </div>

    <!-- Add to travel backpack -->
    <form class="form pb-5" action="{% url 'add-to-backpack' tour.id %}" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="col-4">
                <p class="mt-3">
                    <strong class="text-uppercase">How many travellers?</strong>
                </p>
            </div>

            <div class="row d-flex justify-content-center align-items-center">
                
                <div class="row">
                    <!-- Number of people for tour -->
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <!-- Decrease quantity button -->
                                <div class="col-1 p-0 m-1">
                                    <button class="icon btn btn-outline-secondary d-flex justify-content-center align-items-center w-100 h-100" 
                                            type="button" data-item_id="{{ tour.id }}" id="minus-qty_{{ tour.id }}">
                                        <i class="fa-solid fa-user-minus minus-qty"></i>
                                    </button>
                                </div>
                
                                <!-- Input field for quantity -->
                                <div class="col-9 p-0">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="30" 
                                           data-item_id="{{ tour.id }}" id="id_qty_{{ tour.id }}">
                                </div>
                
                                <!-- Increase quantity button -->
                                <div class="col-1 p-0 m-1">
                                    <button class="icon btn btn-outline-secondary d-flex justify-content-center align-items-center w-100 h-100" 
                                            type="button" data-item_id="{{ tour.id }}" id="add-qty_{{ tour.id }}">
                                        <i class="fa-solid fa-user-plus add-qty"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>          
                    <!-- Call to action buttons -->
                    <div class="col-12 col-md-6 d-flex">
                        <input type="submit" class="text-btn-2 text-uppercase hrv-shrink m-2" value="Add to Backpack">
                        
                        <!-- Use an anchor tag instead of a button for navigation -->
                        <a id="ex-btn" href="{% url 'all-tours' %}" class="btn btn-secondary m-2 hvr-icon-back">
                            <i class="fa-solid fa-hand-point-left hvr-icon"></i> Explore more tours
                        </a>
                    </div>

                    <!--edit/ delete btn superuser-->
                    <div class="row mt-4 mb-1">
                        <div class="col-12 d-flex justify-content-center">
                            {% if request.user.is_superuser %}
                                <p class="ml-3">
                                    <a a class="hvr-grow" href="{% url 'edit_tour' tour.id %}">Edit</a>
                                    <a class="text-danger hvr-grow" href="{% url 'delete_tour' tour.id %}">Delete</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>  
                
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
        </div>
    </form>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'tours/includes/breakdown_scripts.html' %} 
{% endblock %}
