{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tour_products/css/tour_products.css' %}">
{% endblock %}

{% block content %}

    <div class="d-md-none p-1"></div>

    <div class="container px-5 py-4">
        <div class="row">
            <div class="col-12 text-center mt-3 mb-4">
                <h1>Where to next?</h1>
            </div>
        </div>

        <!-- Filters Btns-->
        <div class="row d-none d-md-flex justify-content-start">
            <!-- All Tours Button -->
            <div class="col-sm-6 col-md-2 text-start mb-5">
                <a href="{% url 'all-tours' %}" class="btn category-btn {% if not request.GET.category %}selected-category{% endif %}">
                    <i class="fa-solid fa-globe icon-static"></i>
                    All Tours
                </a>
            </div>
        
            <!-- Category btn -->
            {% for category in categories %}
                {% if category %}
                    <div class="col-sm-6 col-md-2 text-start mb-5">
                        <a href="?category={{ category }}" class="btn category-btn {% if request.GET.category == category %}selected-category{% endif %}">
                            <i class="fa-solid fa-location-dot icon-static"></i>
                            {{ category }}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        
        <!-- Dropdown for mobile devices -->
        <div class="d-md-none mb-4">
            <div class="dropdown">
                <button class="btn btn-dropdown dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Category
                </button>
                <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                    <li>
                        <a class="dropdown-item {% if not request.GET.category %}selected-category{% endif %}" href="{% url 'all-tours' %}">All Tours</a>
                    </li>
                    {% for category in categories %}
                        {% if category %}
                            <li>
                                <a class="dropdown-item {% if request.GET.category == category %}selected-category{% endif %}" href="?category={{ category }}">
                                    {{ category }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>        
        
        <div class="d-md-none p-1"></div>

        <!-- Tour card -->
        <div class="row">
            {% if tourproducts %}
                {% for tour in tourproducts %}
                    <div class="col-sm-12 col-md-4 d-flex pb-5">
                        <div class="card w-100" style="width: 18rem;">
                            {% if tour.image %}
                                <img src="{{ tour.image.url }}" class="card-img-top" alt="{{ tour.name }}">
                            {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ tour.name }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ tour.name }}</h5>
                                <p class="card-text">{{ tour.description|truncatechars:100 }}</p>
                                <a href="{% url 'tour-breakdown' tour.id %}" class="text-btn-2 hvr-forward">VIEW TOUR</a>
                                {% if request.user.is_superuser %}
                                    <div class="row mt-4 mb-1">
                                        <div class="col-12 d-flex justify-content-center">
                                            <p class="ml-3">
                                                <a class="hvr-grow" href="{% url 'edit_tour' tour.id %}">Edit</a>
                                                <a class="text-danger hvr-grow" href="{% url 'delete_tour' tour.id %}">Delete</a>
                                            </p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="d-md-none p-3"></div>
                {% endfor %}
            {% else %}
                <div class="col-12 text-center mt-5">
                    <h3>No tours available at the moment.</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}