{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tour_products/css/tour_products.css' %}">
{% endblock %}

{% block header %}
    <div class="container header-container">
        <div class="class row">
            <div class="class col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="class bg-light">
        <div class="container ml-5 mr-5">
            <div class="row">
                <!-- Tour Title -->
                <div class="col-8">
                    <h1 class="tour-title p-5">{{ tour.name }}</h1>
                </div>
                <div class="col-4 text-end p-5">
                    <a href="#" class="icon-share text-black hvr-shrink">
                        <i class="fa-solid fa-share"></i> Share
                    </a>
                </div>
            </div>

            <div class="row mt-2">
                <!-- Image Carousel -->
                <div class="col-lg-8">
                    <div id="tourCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ tour.image.url }}" class="d-block w-100" alt="{{ tour.name }}">
                            </div>
                            <div class="carousel-item">
                                <img src="your_image_2.jpg" class="d-block w-100" alt="Tour Image 2">
                            </div>
                            <div class="carousel-item">
                                <img src="your_image_3.jpg" class="d-block w-100" alt="Tour Image 3">
                            </div>
                        </div>
                    </div>

                    <!-- Thumbnail Row -->
                    <div class="row mt-3">
                        <div class="col-3">
                            <img src="your_thumbnail_1.jpg" class="img-fluid rounded" alt="Thumbnail 1">
                        </div>
                        <div class="col-3">
                            <img src="your_thumbnail_2.jpg" class="img-fluid rounded" alt="Thumbnail 2">
                        </div>
                        <div class="col-3">
                            <img src="your_thumbnail_3.jpg" class="img-fluid rounded" alt="Thumbnail 3">
                        </div>
                        <div class="col-3">
                            <img src="your_thumbnail_4.jpg" class="img-fluid rounded" alt="Thumbnail 4">
                        </div>
                    </div>
                </div>

                <!-- Tour Information -->  
                <div class="col-lg-4">
                    <form class="form pb-5" action="{% url 'add-to-backpack' tour.id %}" method="POST">
                        {% csrf_token %}
                        
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                
                        <div class="tour-info-box">
                            <p class="fs-5 mb-1"><strong>{{ tour.duration }} Days Tour</strong></p>
                            <p class="text-muted">{{ tour.location_start }} <strong> > </strong>{{ tour.location_end }}</p>
                            <h3 class="mb-3">From <strong>GBP £{{ tour.price }}</strong></h3>
                
                            <!-- Submit button -->
                            <input type="submit" class="text-btn-2 btn-lg w-100 mb-3 hvr-shrink m-2" value="Add to Backpack">
                
                            <p class="text-muted">Limited slots available.</p>
                        </div>
                    </form>
                </div>    
                
                <!-- Whats Included-->
                <div class="col-lg-8">
                </div>

            </div>
        </div>
    </section>  
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'tours/includes/breakdown_scripts.html' %} 
{% endblock %}
